/* apply a natural box layout model to all elements, but allowing components to change */
html {
      box-sizing: border-box;
      font-size: 62.5%;
}

*,
*:before,
*:after {
      box-sizing: inherit;
      padding: 0;
      margin: 0;
}
body{
      background-color: $color1;
      font-size: 1.6rem;
      line-height: 1.5rem;
      font-family: $font-family2;

      .container{
            width: 80%;
            margin: auto;
      }
}

ul{
      list-style: none;
}