include ./templates/head
include ./templates/nav
form.ui.form.container(style='padding: 10%;' action='/productos' method='POST')
  .field
    label Nombre del producto
    input(type='text' name='title' placeholder='Nombre del producto')
  .field
    label Precio
    input(type='text' name='price' placeholder='Precio')
  .field
    label image url
    input(type='text' name='thumbnail' placeholder='image url')
  button.ui.button(type='submit') Submit